<% if user_signed_in? %>
  <% unless question.like?(current_user) %>
    <a class="btn btn-primary text-white link-mark" data-question_id="<%= question.id %>">BookMark</a>
  <% else %>
    <a class="btn btn-secondary text-white link-mark" data-question_id="<%= question.id %>">BookMarkを取り消す</a>
  <% end %>
<% end %>

