<!--　▼ ジャンボトロン　 -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="command">Command-Master</h1>
        <%= link_to "S T A R T", questions_path, class:"btn btn-primary btn-lg"%>
      </div>
    </div>

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>
              楽しく直感的に
              <br>
              ショートカット&コマンドを
              <br>
              練習できるサイト
            </h2>
          </div>
          <div class="col-md-4">
            <h2>一覧</h2>
          </div>
          <div class="col-md-4">
            <h2>練習</h2>
          </div>
        </div>
      </div>
    
    