<!--　▼ ジャンボトロン　 -->
<div class"container">
    <div class="jumbotron">
      <div class="container">
        <h1 class="command">Command-Master</h1>
        <%= link_to "S T A R T", questions_path, class:"btn btn-primary btn-lg"%>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <span class="d-inline-block mb-2 text-primary"></span>
              <h3 class="mb-0">色々なコマンドが楽しく</h3>
              <div class="mb-1 text-muted">
                <p class="card-text mb-auto"></p>
              </div>
            </div>
          <img class="card-img-right flex-auto d-none d-lg-block" style="width: 200px; height: 250px;">
          </img>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <span class="d-inline-block mb-2 text-primary">WORLD</span>
              <h3 class="mb-0"></h3>
              <div class="mb-1 text-muted">
                <p class="card-text mb-auto"></p>
              </div>
            </div>
           <img class="card-img-right flex-auto d-none d-lg-block" style="width: 200px; height: 250px;">
          </img>
        </div>
      </div>
    </div>
</div>