<!--　▼ ジャンボトロン　 -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="command">Command-Master</h1>
        
        <%= link_to "S T A R T", questions_path, class:"btn btn-primary btn-lg"%>

      </div>
    </div>