
  <div class="container">
    <div class="title-box">
      <h4 class="title-text">カテゴリー編集</h4>
    </div>
    <!--<= render 'customers/shared/error_messages', resource: @category %>-->
    <div class="niw-item">
      <%= form_with model: [:admin, @category], local:true do |f| %>
      <div class="d-flex">
        <%= f.text_field :name, placeholder: "ジャンル名", size: "30", class: "form-control mr-3" %>
        <%= f.attachment_field :category_image %>
        <%= f.submit '変更を保存', class: "btn btn-sm btn-secondary" %>
      </div>
      <% end %>
    </div>
  </div>