<div class="container">
  <h2>Category-List</h2>
   <table class="table table-hover" style="table-layout:fixed">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Image</th>
        <th scope="col">name</th>
        <!--<th></th>-->
      </tr>
    </thead>
      <tbody>
        <% @categories.each do |category| %>
        <tr>
          <td><%= category.id %></td>
          <td><%= attachment_image_tag category, :category_image, size: "50x50", fallback: "no_image.jpg" %></td>
          <td><%= category.name %></td>
          <!---今は編集を禁止--->
          <!--<td><= link_to "編集", edit_admin_category_path(category.id), class:"btn btn-primary"%></td>-->
        </tr>
      </tbody>
      <% end %>
  </table>
</div>