// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



  .test-box {
    margin-right: -15px;
  }

// パンクズリスト
  .bread ul {
    display: flex; /* 子要素(li)を横一列に並べる */
    list-style-type: none; /* リスト要素に表示されている"・"を非表示 */
  }
  
  .bread li a {
    padding: 5px; /* リンク間の間隔を調整 */
    color: black; /* リンクの文字色を調整 */
    font-size: 20px; /* リンクの文字サイズを調整 */
    text-decoration: none; /* リンクの下線を非表示 */
  }
  
  .bread li a:hover {
    background-color: #f0f0f0; /* カーソルをリンクの上に乗せたときの背景色 */
  }
  
  .bread li:after {
    content: '\003e'; /* 「>」を要素間の区切り文字として表示 */
    margin-left: 10px; /* 区切り文字と要素の間隔を調整 */
    margin-right: 10px; /* 区切り文字と要素の間隔を調整 */
    color: black; /* 区切り文字の文字色 */
  }
  
  // // question画面
  
  #main {
    text-align: center;
  }
  
  #contents {
    border: 2px solid black;
    border-radius: 10px;
    width: 400px;
    height: 60px;
    margin: 0 auto;
  }
  
  #mondai {
    display: flex;
    justify-content: center; /* 子要素をflexboxにより中央に配置する */
    font-size: 2.4rem;
  }
  
  .text {
    padding: 2px;
  }
  
  .text.default {
    color: #f3f3f3;
    text-shadow: 1px 1px 0 #000,
              -1px 1px 0 #000,
              1px -1px 0 #000,
              -1px -1px 0 #000;
  }
  
  .text.correct {
    color: black;
    text-shadow: none;
  }
  
  // 点滅させている
  .blinking{
      -webkit-animation:blink 1.5s ease-in-out infinite alternate;
      -moz-animation:blink 1.5s ease-in-out infinite alternate;
      animation:blink 1.5s ease-in-out infinite alternate;
  }
  blink{
      0% {opacity:0;}
      100% {opacity:1;}
  }
  @-moz-keyframes blink{
      0% {opacity:0;}
      100% {opacity:1;}
  }
  
  @keyframes blink{
      0% {opacity:0;}
      100% {opacity:1;}
  }
  
  #yomi {
      padding: 1em 1em;
      margin: 2em 0;
      font-weight: bold;
      border: solid 3px #000000;
      border-radius: 8px;
      text-align: center;
  }
  
  .dispPoint {
    // backgrond: lightgreen;
      padding: 0.5em 1em;
      // margin: 2em 0;
      font-weight: bold;
      // border: solid 3px #000000;
  }
  
  .number_questions {
    font-size: 15px;
  }
  
  // 追加
  .hidden-hint{
    display: none;
  }
  
  .display {
    font-size: 40px;
    color: white;
    background: black;
    pading: 2em;
    width: 300px;
    border-radius: 6px;
  }
  
  #dis {
    font-size: 40px;
    color:  #ffffff;;
    // background: black;
    margin: 2em;
    width: 30rem;
    border-radius: 8px;
  }
  
  .box1 {
      padding: 0.5em 1em;
      margin: 2em 0;
      font-weight: bold;
      border: solid 3px #000000;
  }
  
  // question画面
  
  .leftnav {
    background: #f0f0f0;
     border-radius: 8px;
    padding: 7px; 
    
  }
  
  .problem {
    text-align: center;
    border-radius: 20px;
    font-family: 'sans-serif'	, cursive;
    backgrond: green;
    padding: 5px;
    font-size: 20px;
  }
  
  .q_list {
    margin-top: 18px;
    margin-right: 10px;
  }
  
  .c-nav {
    text-align: center;
  }
  
  .previewArea__wrap {
    margin : 5px;
  }

  .box1 p {
    margin: 0;
    padding: 0;
  }