<!--<div class="container">-->
    
<!--    <h2>Category-select</h2>-->
<!--    <div class="d-flex justify-content-start">-->
<!--        < @categories.each do |category| %>-->
<!--        <div class="shadow card my-5" style="width: 18rem">-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title"><= category.name %></h5>-->
<!--                <h5 class="card-title"><= link_to category.name, questions_path(category_id: category.id) %></h5>-->
<!--            </div>-->
<!--            <= link_to questions_path(category_id: category.id) do %>-->
<!--             <= attachment_image_tag category, :category_image, size: "250x100", fallback: "no_image.jpg" %>-->
<!--            < end %>-->
            
<!--        </div>-->
<!--         < end %>-->
<!--     </div>-->
<!--</div>-->

  <div class="container">
    <div class="row">
        <% @categories.each do |category| %>
      <div class="col-lg-4">
        <div class="shadow card" style="width: 20rem;">
            <%= attachment_image_tag category, :category_image, size: "200x200", fallback: "no_image.jpg", class:"card-img-top"  %>
          <div class="card-body">
            <h4 class="card-title"><%= category.name %></h4>
            <p class="card-text"></p>
            <%= link_to "Lets Go!!!", questions_path(category_id: category.id), class:"btn btn-primary"%>
          </div>
        </div>
      </div>
     <% end %>
    </div>
  </div>