<div class="container">
    
    <h2>カテゴリー一覧</h2>
    <div class="d-flex justify-content-start">
        <% @categories.each do |category| %>
        <div class="shadow card my-5" style="width: 18rem">
            
            <div class="card-body">
                <h5 class="card-title"><%= category.name %></h5>
                <h5 class="card-title"><%= link_to category.name, questions_path(category_id: category.id) %></h5>
            </div>
            <%= link_to category.category_image %>
        </div>
         <% end %>
     </div>
</div>
